* { margin: 20px; padding: 0; }
body {
    background: #e1e1e1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-container {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}

.signup-container {
    text-align: right;
}

.signup-container p {
    margin-top: 10px;
}

.signup-container a {
    color: #007bff;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}